<!DOCTYPE html>
<html>
<head>
    <title>7devs Remote Kit</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css" rel="stylesheet"></link>
    <script src="script/jquery-3.1.1.min.js"></script>
    <style>
    pre {
        padding: 5px;
        color: green;
        background-color: black;
    }
    </style>
</head>
<body>
    <div class="weui-cells__title">Remote Kit</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">PORT</label>
            </div>
            <div class="weui-cell__bd">
                <select id="port" class="weui-select">
                    <% for(var i = 8001; i < 8020; i++) { %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                    <% for(var i = 8101; i < 8103; i++) { %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                        <option value="8777">8777</option>
                </select>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">URL</label>
            </div>
            <div class="weui-cell__bd">
                <input id="url" class="weui-input" type="url" />
            </div>
        </div>
        <div class="weui-btn-area">
            <div id="btnCreate" class="weui-btn weui-btn_primary">创建项目</div>
            <div id="btnStart" class="weui-btn weui-btn_default">启动项目</div>
            <div id="btnUpdate" class="weui-btn weui-btn_default">更新项目</div>
        </div>
    </div>
    <pre id="infobox">#&gt;</pre>
    <div id="loadingToast" style="display:none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">数据加载中</p>
        </div>
    </div>
    <script>
    var bc = $('#btnCreate'),
    bs = $('#btnStart'),
    bu = $('#btnUpdate'),
    ib = $('#infobox'),
    port, url;
    bc.on('click', function(evt) {
        showLoading();
        ib.html('Running...');
        port = $('#port').val();
        url = $('#url').val();
        ajax('/exec/project', 'POST', {
            port: port,
            url: url
        }, function(data) {
            ib.html(data);
            hideLoading();
        });
    });
    bs.on('click', function(evt) {
        showLoading();
        ib.html('Running...');
        port = $('#port').val();
        ajax('/exec/project', 'PATCH', {
            port: port
        }, function(data) {
            ib.html(data);
            hideLoading();
        });
    });
    bu.on('click', function(evt) {
        showLoading();
        ib.html('Running...');
        port = $('#port').val();
        ajax('/exec/project', 'PUT', {
            port: port
        }, function(data) {
            ib.html(data);
            hideLoading();
        });
    });

    function ajax(url, method, data, cb) {
        $.ajax({
            url: url,
            method: method,
            dataType: 'json',
            data: data,
            success: cb
        })
    }

    function showLoading() {
            $('#loadingToast').show();
    }

    function hideLoading() {
            $('#loadingToast').hide();
    }
    </script>
</body>
</html>
