<!DOCTYPE html>
<html>
    <head>
        <title>7devs Remote Kit</title>
        <meta charset='utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
        <script src="script/jquery-3.1.1.min.js"></script>
        <style>
            * {
                font-family: "courier new";
            }
            form {
                line-height: 210%;
            }
            h1 {
                font-size: 2em;
            }
            select, input {
                font-size: 1em;
            }
            pre {
                padding: 5px;
                color: green;
                background-color: black;
            }
        </style>
    </head>
    <body>
        <h1>Remote Kit</h1>
        <form action="">
            port:
            <select id="port">
                <% for(var i = 8001; i < 8020; i++) { %>
                <option value="<%= i %>"><%= i %></option>
                <% } %>
                <option value="8777">8777</option>
            </select>
            <br />
            url:
            <input id="url" type="text" />
            <br />
            <input id="btnCreate" type="button" value="创建项目" />
            <input id="btnStart" type="button" value="启动项目" />
            <input id="btnUpdate" type="button" value="更新项目" />
        </form>
        <pre id="infobox">#&gt;</pre>
        <script>
            var bc = $('#btnCreate'),
    bs = $('#btnStart'),
    bu = $('#btnUpdate'),
    ib = $('#infobox'),
    port, url;
bc.on('click', function(evt) {
    ib.html('Running...');
    port = $('#port').val();
    url = $('#url').val();
    ajax('/exec/project', 'POST', {
        port: port,
        url: url
    }, function(data) {
        ib.html(data);
    });
});
bs.on('click', function(evt) {
    ib.html('Running...');
    port = $('#port').val();
    ajax('/exec/project', 'PATCH', {
        port: port
    }, function(data) {
        ib.html(data);
    });
});
bu.on('click', function(evt) {
    ib.html('Running...');
    port = $('#port').val();
    ajax('/exec/project', 'PUT', {
        port: port
    }, function(data) {
        ib.html(data);
    });
});

function ajax(url, method, data, cb) {
    $.ajax({
        url: url,
        method: method,
        dataType: 'json',
        data: data,
        success: cb
    })
}
        </script>
    </body>
</html>
